[submodule "course-name-abbr"]
	path = name-abbr
	url = https://github.com/tigerduck-app/name-abbr
[submodule "app-translation"]
	path = app-translation
	url = https://github.com/tigerduck-app/app-translation
