[submodule "course-name-abbr"]
	path = name-abbr
	url = https://github.com/tigerduck-app/name-abbr
[submodule "localization"]
	path = localization
	url = https://github.com/tigerduck-app/app-translation
